<div class="row">
  <div class="col-md-12">
    <h2>Welcome to WikiBloc</h2>

    <p><h3>Wikibloc is an easy to use Wiki app.</h3></p>

    <p><b>Wikibloc allows users to:</b></p>

    <ul>
      <li>Sign up of a free account</li>
      <li>With a paid account, the ability to delegate edit rights to other users</li>
      <li>With a paid account, the ability to make entries private</li>
      <li>Compatible with markdown</li>
      <li>Gives previews to entries in markdown</li>
      <li>Secure credit card transactions with <a href="http://www.stripe.com">Stripe</a></li>
    </ul>

    <a href="https://wikibloc.herokuapp.com/"><b>Visit Wikibloc</b></a>
  </div>
</div>
