<div class="jumbotron row">
  <h1 class="logo">wikibloc</h1>
  <p>a Wiki for everything...about nothing</p>
  <p>
      <%= link_to "Sign In", new_user_session_path, class: 'btn btn-primary' %> or 
      <%= link_to "Sign Up", new_user_registration_path, class: 'btn btn-primary' %> today!
  </p>
</div>

<div class="row">
  <div class="col-md-4">
    <h2>Share</h2>
    Your "version" of History with the world!
  </div>
  <div class="col-md-4">
    <h2>Edit</h2>
   Another Wiki to "improve" things!
  </div>
  <div class="col-md-4">
    <h2>Delete</h2>
    <p>A Wiki just because you feel like it!</p>
  </div>
</div>