<br/>
<div class="jumbotron">
  <h1>wikibloc</h1>
  <p>Something will go here</p>
  <p>
      <%= link_to "Sign In", new_user_session_path, class: 'btn btn-primary' %> or 
      <%= link_to "Sign Up", new_user_registration_path, class: 'btn btn-primary' %> today!
  </p>
</div>

<div class="row">
  <div class="col-md-4">
    <h2>Something will go here</h2>
    <p>Something will go here.</p>
  </div>
  <div class="col-md-4">
    <h2>Something will go here</h2>
    <p>Something will go here.</p>
  </div>
  <div class="col-md-4">
    <h2>Something will go here</h2>
    <p>Something will go here</p>
  </div>
</div>