<div class="col-md-10">
<h1><%= @wikis.count %> WIKIS</h1>
<table class="table">
<tr>
  <td><b>Title</b></td>
  <td><b>Id</b></td>
  <td><b>Collaborate</b></td>
</tr>
<% @wikis.each do |wiki| %>
<tr><td><%= link_to wiki.title, wiki_path(wiki) %></td>
    <td><%= wiki.id %></td>
    <td><%= "yes" if wiki.users.include?(current_user) %></td>
    </tr>

<% end %>
</table>
</div>