<div class="row">
<div class="col-md-12">
     <table class="table">
     <tr>
       <td><b>Title</b></td>
       <td><b>Owner</b></td>
       <td><b>Created</b></td>
     </tr>
     <% @wikis.each do |wiki| %>
     <tr>
     <td><%= link_to wiki.title, wiki_path(wiki) %></td>
     <td><%= wiki.owner.name %></td>
     <td><%= wiki.created_at.strftime("%m/%d/%Y") %></td>
     </tr>
     <% end %>
     </table>
    </div>
   </div>
