@import 'bootstrap';

.user-info {
   margin-top: 9px;
 }
 
 .nav {
   margin: 5px;
 }

 .page-header {
    
 }

 body {
    font-family: 'Ubuntu', sans-serif;
    // background-color: #b2b2b2;
    background-image: url("https://s3-us-west-1.amazonaws.com/wikibloc-prod/swirl_pattern.png");
    // background-color: #0099FF;
    // background-color: rgba(0, 153, 255, .3);
  }
  
  .row {
    background: #FFF;
    padding: 5px;
  }

  .glyphicon-eye-open,
  .glyphicon-eye-close {
    font-size: 30px;
  }
 // .btn {
 //    margin: 5px;
 //  }